.vs/
**/x64/
**/*.user
**/.vscode/

**/bedrock_server_api.lib
**/bedrock_server_var.lib

/.idea/*
!/.idea/cmake.xml
/cmake-build-*
build/*
/out/*
.cache
run_bds.cmd
.build
.fleet
src/include/config.h
dist/*
dist/create_release.ps1
